@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Root Variables */
:root {
    --background-color: #FBFBFB;
    --section-color: #E9EAEC;
    --secondary-color: #2e4032;
    --accent-color: #803769;
    --text-color: #404540;
    --header-footer-color: #D6DBD5;

    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #c4c8cb;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33, 37, 41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233, 236, 239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33, 37, 41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-heading-color: inherit;
    --bs-link-color: #0d6efd;
    --bs-link-color-rgb: 13, 110, 253;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #0a58ca;
    --bs-link-hover-color-rgb: 10, 88, 202;
    --bs-code-color: #d63384;
    --bs-highlight-color: #212529;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
    --bs-form-valid-color: #198754;
    --bs-form-valid-border-color: #198754;
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Body Styles */
body {
    font-family: 'Merriweather', serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Text Links */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background-color: var(--header-footer-color);
    padding: 1rem;
}

header nav {
    margin: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

header nav a {
    color: var(--secondary-color);
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

header nav .login-button,
header nav .subscribe-button {
    background: none;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

header nav .login-button:hover{
    background-color: var(--secondary-color);
    color: var(--header-footer-color);
}

header nav .subscribe-button:hover {
    background-color: var(--secondary-color);
    color: var(--header-footer-color);
}

/* Greetings Section */
.greetings {
    flex-grow: 1;
}

.header-buttons-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Password Change Link */
.password-change-link {
    color: var(--accent-color);
    font-weight: bold;
    transition: color 0.3s;
}

.password-change-link:hover {
    color: var(--secondary-color);
}

/* Cover */
.cover {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    color: var(--header-footer-color);
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/nature4.jpg') no-repeat center center/cover;
    filter: blur(1.5px);
    z-index: -1;
}

.cover h1 {
    font-family: 'Raleway', sans-serif;
    color: var(--background-color);
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.cover p {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
}

.login-section {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.login-section h2 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 2rem;
}

.messages {
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem;
}

.messages li {
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
}

.messages li.success {
    background-color: #d4edda;
    color: #155724;
}

.messages li.error {
    background-color: #f8d7da;
    color: #721c24;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-label {
    font-weight: 500;
    color: #333;
}

.form-label {
    font-weight: 500;
    color: #333;
}

.form-label {
    margin-bottom: .5rem;
}
label {
    display: inline-block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
label {
    cursor: default;
}

.form-control {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0.75rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(46, 204, 113, 0.25);
}

.error-message {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.btn-login {
    background-color: var(--secondary-color);
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    width: 100%;
    margin-top: 1rem;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background-color: var(--header-footer-color);
    transform: translateY(-2px);
}

.forgot-password-link {
    display: block;
    text-align: center;
    margin-top: 1.5rem;
    color: var(--primary-color);
    text-decoration: none;
}

.forgot-password-link:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}



/* Mapa */
#map {
    height: 400px; /* Set appropriate height */
    width: 100%;   /* Ensure it takes up the full width */
}



/* Nossa Missao Section */
.nossa-missao {
    display: flex;
    width: 100%;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.imagem {
    flex: 1;
    height: 100%;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nossa-missao-conteudo {
    flex: 1;
    padding: 2rem;
    background-color: var(--background-color);
    text-align: center;
}

.nossa-missao-conteudo h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.nossa-missao-conteudo p {
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    margin: 2rem 5rem;
}

/* Inscrição Section */
.inscricao {
    background-color: var(--section-color);
    padding: 3rem 1rem;
    text-align: center;
}

.inscricao h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.inscricao p {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.inscricao form {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.inscricao input[type="email"] {
    padding: 0.7rem;
    border: 2px solid var(--secondary-color);
    background: var(--section-color);
    color: var(--secondary-color);
    font-size: 1rem;
}

.inscricao button {
    padding: 0.7rem 1.2rem;
    background: none;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.inscricao button:hover {
    background-color: var(--secondary-color);
    color: var(--section-color);
}

/* Footer */
footer {
    background-color: var(--header-footer-color);
    padding: 1rem;
    text-align: center;
}

footer p {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1rem;
}

footer .social-links a {
    color: var(--secondary-color);
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

/* Signup Section */
.signup-section {
    background-color: var(--background-color);
    color: var(--secondary-color);
    padding: 2rem 1rem;
    text-align: center;
    margin: 5rem auto;
    width: 90%;
    max-width: 400px;
    min-height: 70vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-section h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#password-reset-done {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    margin-bottom: 2rem;
}

/* General style for all messages */
.messages {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
}

/* Style for success messages */
.message.success,
.message.error {
    color: var(--accent-color);  /* Accent color for text */
}

/* Residuo Form */
.residuo-form-container {
    max-width: 600px;
    margin: 5rem auto;
    background-color: var(--background-color);
    color: var(--secondary-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.residuo-form-container h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/* Residuo Styled Form */
.residuo-styled-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.residuo-form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.residuo-form-group label {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.residuo-form-group input {
    padding: 0.7rem;
    border: 2px solid var(--secondary-color);
    font-size: 1rem;
}

/* Modal Styling */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--accent-color);
}

/* Container for the residue detail page */
.residuo-detail-container {
    max-width: 800px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: var(--background-color);
    color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Title of the residue */
.residuo-title {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* Details section */
.residuo-detail {
    margin-bottom: 2rem;
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
}

.residuo-detail p {
    margin-bottom: 1rem;
}

/* Image Styling */
.residuo-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 1.5rem;
}

/* If image is not available */
.image-not-available {
    font-size: 1rem;
    color: #888;
    font-style: italic;
    text-align: center;
    margin-top: 1.5rem;
}

/* Back Link Styling */
.back-link {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    margin-top: 2rem;
    background-color: var(--secondary-color);
    color: var(--header-footer-color);
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s;
}

.back-link:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
}

/* Responsive Styles */
@media (max-width: 900px) {
    header nav {
        flex-direction: column;
    }

    .cover h1,
    .inscricao h2 {
        font-size: 1.5rem;
    }

    .card {
        flex: 0 0 200px;
    }

    .residuo-form-container {
        max-width: 90%;
    }
}