@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Root Variables */
:root {
    --background-color: #FBFBFB;
    --section-color: #E9EAEC;
    --secondary-color: #2e4032;
    --accent-color: #803769;
    --text-color: #404540;
    --header-footer-color: #D6DBD5;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Body Styles */
body {
    font-family: 'Merriweather', serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Text Links */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background-color: var(--header-footer-color);
    padding: 1rem;
}

header nav {
    margin: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

header nav a {
    color: var(--secondary-color);
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

header nav .login-button,
header nav .subscribe-button {
    background: none;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

header nav .subscribe-button:hover {
    background-color: var(--secondary-color);
    color: var(--header-footer-color);
}

/* Greetings Section */
.greetings {
    flex-grow: 1;
}

.header-buttons-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Password Change Link */
.password-change-link {
    color: var(--accent-color);
    font-weight: bold;
    transition: color 0.3s;
}

.password-change-link:hover {
    color: var(--secondary-color);
}

/* Cover */
.cover {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    color: var(--header-footer-color);
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/nature4.jpg') no-repeat center center/cover;
    filter: blur(1.5px);
    z-index: -1;
}

.cover h1 {
    font-family: 'Raleway', sans-serif;
    color: var(--background-color);
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.cover p {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
}

/* Mapa */
#map {
    height: 400px; /* Set appropriate height */
    width: 100%;   /* Ensure it takes up the full width */
}

/* Nossa Missao Section */
.nossa-missao {
    display: flex;
    width: 100%;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.imagem {
    flex: 1;
    height: 100%;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nossa-missao-conteudo {
    flex: 1;
    padding: 2rem;
    background-color: var(--background-color);
    text-align: center;
}

.nossa-missao-conteudo h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.nossa-missao-conteudo p {
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    margin: 2rem 5rem;
}

/* Inscrição Section */
.inscricao {
    background-color: var(--section-color);
    padding: 3rem 1rem;
    text-align: center;
}

.inscricao h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.inscricao p {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.inscricao form {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.inscricao input[type="email"] {
    padding: 0.7rem;
    border: 2px solid var(--secondary-color);
    background: var(--section-color);
    color: var(--secondary-color);
    font-size: 1rem;
}

.inscricao button {
    padding: 0.7rem 1.2rem;
    background: none;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.inscricao button:hover {
    background-color: var(--secondary-color);
    color: var(--section-color);
}

/* Footer */
footer {
    background-color: var(--header-footer-color);
    padding: 1rem;
    text-align: center;
}

footer p {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1rem;
}

footer .social-links a {
    color: var(--secondary-color);
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

/* Signup Section */
.signup-section {
    background-color: var(--background-color);
    color: var(--secondary-color);
    padding: 2rem 1rem;
    text-align: center;
    margin: 5rem auto;
    width: 90%;
    max-width: 400px;
    min-height: 70vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-section h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#password-reset-done {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    margin-bottom: 2rem;
}

/* General style for all messages */
.messages {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
}

/* Style for success messages */
.message.success,
.message.error {
    color: var(--accent-color);  /* Accent color for text */
}

/* Residuo Form */
.residuo-form-container {
    max-width: 600px;
    margin: 5rem auto;
    background-color: var(--background-color);
    color: var(--secondary-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.residuo-form-container h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/* Residuo Styled Form */
.residuo-styled-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.residuo-form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.residuo-form-group label {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.residuo-form-group input {
    padding: 0.7rem;
    border: 2px solid var(--secondary-color);
    font-size: 1rem;
}

/* Modal Styling */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--accent-color);
}

/* Container for the residue detail page */
.residuo-detail-container {
    max-width: 800px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: var(--background-color);
    color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Title of the residue */
.residuo-title {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* Details section */
.residuo-detail {
    margin-bottom: 2rem;
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
}

.residuo-detail p {
    margin-bottom: 1rem;
}

/* Image Styling */
.residuo-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 1.5rem;
}

/* If image is not available */
.image-not-available {
    font-size: 1rem;
    color: #888;
    font-style: italic;
    text-align: center;
    margin-top: 1.5rem;
}

/* Back Link Styling */
.back-link {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    margin-top: 2rem;
    background-color: var(--secondary-color);
    color: var(--header-footer-color);
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s;
}

.back-link:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
}

/* Responsive Styles */
@media (max-width: 900px) {
    header nav {
        flex-direction: column;
    }

    .cover h1,
    .inscricao h2 {
        font-size: 1.5rem;
    }

    .card {
        flex: 0 0 200px;
    }

    .residuo-form-container {
        max-width: 90%;
    }
}