{% extends "base.html" %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="signup-section">
    <h2>Log In</h2>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" class="signup-form" id="loginForm">
        {% csrf_token %}

        <!-- Username Field -->
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Usuário</label>
            {{ form.username }}  <!-- Django will keep the input value if there's an error -->
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>

        <!-- Non-Field Errors (General form errors like incorrect login credentials) -->
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    {% if error == "Please enter a correct username and password. Note that both fields may be case-sensitive." %}
                        Usuário/senha inválido!
                    {% else %}
                        {{ error }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <!-- Password Field -->
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">Senha</label>
            {{ form.password }}  <!-- Django will keep the input value if there's an error -->
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
            {% endif %}
        </div>

        <button type="submit" class="signup-button">Log In</button>
    </form>

    <div class="forgot-password">
        <a href="{% url 'password_reset' %}" class="forgot-password-link">Esqueci a senha</a>
    </div>
</div>
{% endblock %}