{% extends "base.html" %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block content %}
<main class="container">
    <section class="login-section">
        <h2>Log In</h2>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <form id="loginForm" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}" class="form-label">Nome de Usuário</label>
                <input type="text" class="form-control" id="id_username" name="username" required="">
                <div class="error-message" id="username-error"></div>
            </div>

            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    {% if error == "Please enter a correct username and password. Note that both fields may be case-sensitive."%}
                        Usuário/senha inválido!
                    {% else %}
                        {{ error }}
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <div class="form-group">
                <label for="{{ form.password.id_for_label }}" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" name="password" required="">
                {% if form.password.errors %}
                <div class="error error-message" id="password-error"id="password-error">{{ form.password.errors }}</div>
                {% endif %}
            </div>

            <div class="alert alert-danger" id="login-error" style="display: none;">
                Usuário ou senha incorretos. Por favor, tente novamente.
            </div>

            <button type="submit" class="btn btn-login signup-button">Log In</button>
        </form>

        <div class="forgot-password">
            <a href="{% url 'password_reset' %}" class="forgot-password-link">Esqueci a senha ?</a>
        </div>
    </section>
</main>

{% endblock %}