{% extends "base.html" %}

{% block title %}Redefinir Senha{% endblock %}

{% block content %}
<div class="signup-section">
    <h2>Redefinir Senha</h2>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" class="signup-form" id="password-reset-confirm-form">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">
                {% if field.name == "new_password1" %}
                    Nova Senha
                {% elif field.name == "new_password2" %}
                    Confirmar Nova Senha
                {% endif %}
            </label>

            {{ field }}
            {% if field.errors %}
                <div class="error">{{ field.errors|striptags }}</div>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="signup-button">REDEFINIR SENHA</button>
    </form>
</div>
{% endblock %}
