{% extends "base.html" %}

{% load static %}
{% block title %}Cadastro{% endblock %}

{% block content %}
<body>
    <div class="signup-section">
        <h2>Cadastre-se</h2>
        <form method="post" action="{% url 'signup' %}" class="signup-form" id="signup-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% if field.name == "username" %}
                    <label for="{{ field.id_for_label }}">Usuário</label>
                {% elif field.name == "password1" %}
                    <label for="{{ field.id_for_label }}">Senha</label>
                {% elif field.name == "password2" %}
                    <label for="{{ field.id_for_label }}">Confirmação de senha</label>
                {% else %}
                    {{ field.label_tag }}  {# Caso não tenha um label específico, usa o padrão #}
                {% endif %}
                {{ field }}
                {% if field.errors %}
                    <div class="error">{{ field.errors|striptags }}</div>
                {% endif %}
            </div>
        {% endfor %}
        
        {% if form.username.errors %}
            <div class="error">{{ form.username.errors|striptags }}</div>
        {% endif %}
        {% if form.password2.errors %}
            <div class="error">{{ form.password2.errors|striptags }}</div>
        {% endif %}
        {% if form.password1.errors %}
            <div class="error">{{ form.password1.errors|striptags }}</div>
        {% endif %}

        <button type="submit" class="signup-button">CADASTRAR</button>
        </form>
    </div>
    <script src="{% static 'js/script-signup.js' %}"></script>
</body>
{% endblock %}