<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}ResíduoZero{% endblock %}</title>
</head>
<body>
    <header>
        <h1>ResíduoZero</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#tipos">Tipos de Resíduos</a></li>
                <li><a href="#dicas">Dicas de Reciclagem</a></li>
                <li><a href="#locais">Locais de Coleta</a></li>
                <li class="header-buttons-container">
                    {% if user.is_authenticated %}
                        <form action="{% url 'logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="button-entrar">Log Out</button>
                        </form>
                    {% else %}
                        <a href="{% url 'login' %}" class="button-entrar">Entrar</a>
                        <a href="{% url 'signup' %}" class="button-cadastrar">Cadastrar</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 ResíduoZero. Todos os direitos reservados.</p>
    </footer>
</body>
</html>