<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% endblock %}

    <title>{% block title %}Descarte Consciente{%endblock%}</title>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="header-container">
            <nav>
                <div class="greetings">
                    {% if user.is_authenticated %}
                        <h1>Olá, {{ user.username }}!</h1>
                        <p><a href="{% url 'password_change' %}">Alterar senha</a></p>
                    {% endif %}
                </div>
                <a href="{% url 'home' %}">HOME</a>
                <a href="{% url 'tipos-de-residuo' %}">TIPOS DE RESÍDUO</a>
                <a href="{% url 'pontos-de-coleta' %}">PONTOS DE COLETA</a>
                <div class="header-buttons-container">
                    {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="login-button">Sair</button>
                    </form>
                    {% else %}
                        <a href="{% url 'login' %}" class="login-button">ENTRAR</a>
                        <a href="{% url 'signup' %}" class="subscribe-button">CADASTRE-SE</a>
                    {% endif %}
                </div> 
            </nav>
        </div>
    </header>

    <!-- Main content block -->
    {% block content %}
    <!-- Child template content will be injected here -->
    {% endblock %}

    <!-- Footer -->
    <footer>
        <p>SIGA-NOS</p>
        <div class="social-links">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
    </footer>
</body>
</html>