{% extends 'base.html' %}

{% load static %}

{% block title %}Cadastrar Novo Tipo de Resíduo{% endblock %}

{% block scripts %}
    <script src="{% static 'js/script-modal.js' %}"></script>    
{% endblock %}

{% block content %}
<div class="residuo-form-container">
    <h2>Cadastrar Novo Tipo de Resíduo</h2>
    <form method="post" enctype="multipart/form-data" class="residuo-styled-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="residuo-form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="residuo-form-error">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="residuo-form-button">Cadastrar</button>
    </form>
</div>

<!-- Modal de erro -->
<div id="errorModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <p id="errorMessage"></p>
    </div>
</div>

<!-- Pass Django messages to HTML as data-attributes -->
<div id="django-messages" 
    data-messages="{% for message in messages %}{% if forloop.first %}[{ level: {{ message.level }}, text: '{{ message }}' }]{% else %},{ level: {{ message.level }}, text: '{{ message }}' }{% endif %}{% endfor %}">
</div>

{% endblock %}