{% extends 'base.html' %}

{% block title %}Confirmar Exclusão{% endblock %}

{% block content %}
<div class="signup-section">
    <h2>TEM CERTEZA QUE DESEJA EXCLUIR O PONTO DE COLETA?</h2>
    
    <p>Você está prestes a excluir o ponto de coleta <strong>{{ ponto_coleta.endereco }}</strong>.</p>
    <p>Esta ação não pode ser desfeita.</p>

    <form method="post" class="signup-form">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Excluir</button>
    </form>

    <a href="{% url 'ponto-coleta-lista' %}" class="signup-button">Cancelar</a>
</div>    
{% endblock %}