{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<body>
    {% if user.is_authenticated %}
        <h1>Olá, {{ user.username }}!</h1>
        <p><a href="{% url 'password_change' %}">Alterar senha</a></p>
    {% endif %}
    
    <main>
        <!-- Seção de Tipos -->
        <section id="tipos" class="tipos-section">
            <div class="tipos-container">
                <div class="tipos-item">
                    <img src="{% static 'img/recycle.svg' %}" alt="Ícone de reciclagem" class="tipos-img">
                    <input type="text" id="residuoSearch" placeholder="Procure por um tipo de resíduo" class="tipos-input">
                    <button type="button" class="button">Procurar</button>
                </div>
            </div>
        </section>

        <!-- Seção de Carousel -->
        <section id="carousel">
            <div id="carousel-container">
                <!-- Seus cards já existentes -->
            </div>
            <button id="prevBtn" class="carousel-btn">❮</button>
            <button id="nextBtn" class="carousel-btn">❯</button>
        </section>

        <!-- Seção de Locais - Mapa-->
        <section id="locais" class="locais-section">
            <div class="locais-container">
                <h2>Encontre pontos de coleta de resíduos perto de você</h2>
                <div class="locais-item">
                    <img src="{% static 'img/location.svg' %}" alt="Ícone de mapa" class="locais-img">
                    <input type="text" id="localSearch" placeholder="Procure por um local de coleta" class="locais-input">
                    <button type="button" class="button">Procurar</button>
                </div>
                <div id="map" style="height: 500px; width: 100%;"></div>
            </div>
        </section>
    </main>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <script src="{% static 'js/script.js' %}"></script>
</body>
{% endblock %}