{% extends 'base.html' %}

{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <!-- Cover -->
    <section class="cover">
        <div class="cover-content">
            <h1>DESCARTE CONSCIENTE</h1>
            <p>Transformando resíduos em recursos</p>
        </div>
    </section>

    <!-- Artigos Recentes -->
    <section class="artigos-recentes">
        <h2>ARTIGOS RECENTES</h2>
        <div class="carrossel">
            <!-- Card 1 -->
            <div class="card">
                <img src="{% static 'images/chocolate-bars.jpg' %}" alt="Embalagens laminadas diversas">
                <div class="card-content">
                    <h3>EMBALAGENS LAMINADAS</h3>
                    <p>Plástico? Metal? Reciclável? Entenda.</p>
                    <button>SAIBA MAIS</button>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="card">
                <img src="{% static 'images/soap.jpg' %}" alt="Barra de sabão artesanal">
                <div class="card-content">
                    <h3>SUSTENSOAP</h3>
                    <p>Conheça o app de fórmulas de sabão sustentáveis.</p>
                    <button>SAIBA MAIS</button>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="card">
                <img src="{% static 'images/ods.jpg' %}" alt="Cartões dos Objetivos de Desenvolvimento Sustentável">
                <div class="card-content">
                    <h3>ODS</h3>
                    <p>Entenda o que são os Objetivos do Desenvolvimento Sustentável.</p>
                    <button>SAIBA MAIS</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Recicle -->
    <section class="nossa-missao">
        <div class="imagem">
            <img src="{% static 'images/nature5.jpg' %}" alt="Folhagens">
        </div>
        <div class="nossa-missao-conteudo">
            <h3>REDUZA, REUTILIZE, RECICLE</h3>
            <p>Acreditamos que pequenas ações podem gerar grandes mudanças. Em um mundo onde os recursos naturais estão se esgotando, a consciência ecológica se torna essencial. Reduzir o consumo, reutilizar objetos e reciclar materiais são práticas que não apenas minimizam o impacto ambiental, mas também promovem um estilo de vida mais sustentável.</p>
        </div> 
    </section>

    <!-- Inscrição -->
    <section class="inscricao">
        <h2>INSCREVA-SE</h2>
        <p>Receba notícias e dicas sobre descarte consciente de resíduos</p>
        <form>
            <input type="email" placeholder="Digite seu e-mail" required>
            <button type="submit">ENVIAR</button>
        </form>
    </section>
    <script src="{% static 'js/script-home.js' %}"></script>
{% endblock %}