{% extends "base.html" %}

{% load static %}

{% block title %}Descarte de Metal{% endblock %}

{% block content %}
<div class="container">
    <h1>Como Descartar Resíduos de Metal</h1>
    <img src="{% static 'img/metal.jpg' %}" alt="Tubos de metal armazenados" class="tipos-img">
    <p>O descarte adequado de resíduos de metal contribui para a economia de recursos e a preservação do meio ambiente. Aqui estão os principais passos:</p>

    <h2>1. Separação</h2>
    <p>Separe latas, alumínio, aço inoxidável e outros materiais metálicos de outros tipos de resíduos. Certos metais, como o alumínio e o aço, são 100% recicláveis e podem ser reutilizados infinitamente.</p>

    <h2>2. Limpeza</h2>
    <p>Enxágue latas e recipientes metálicos para remover qualquer resíduo de alimentos ou líquidos antes de descartá-los, assim como faz com plástico e vidro.</p>

    <h2>3. Compactação</h2>
    <p>Se possível, amasse as latas de alumínio ou outros metais finos para reduzir o volume e facilitar o transporte e o processo de reciclagem.</p>

    <h2>4. Reciclagem</h2>
    <p>Leve os resíduos de metal a centros de coleta seletiva ou cooperativas de reciclagem. Muitos locais aceitam latas de alumínio, aço, entre outros. Informe-se na sua região sobre postos de coleta.</p>

    <h2>5. Reutilização</h2>
    <p>Se possível, reutilize latas e recipientes metálicos, transformando-os em objetos úteis, como organizadores, vasos ou decorações.</p>

    <p>Esses cuidados ajudam a garantir que os metais sejam reciclados corretamente e contribuam para a preservação de recursos naturais.</p>
</div>
{% endblock %}