{% extends "base.html" %}

{% load static %}

{% block title %}Descarte de Plástico{% endblock %}

{% block content %}
<div class="container">
    <h1>Como Descartar Resíduos Plásticos</h1>
    <img src="{% static 'img/garrafas_plastico.jpg' %}" alt="Imagem de estoque de garrafas plásticas" class="tipos-img">
    <p>Descartar resíduos plásticos corretamente envolve separá-los dos outros tipos de lixo para facilitar a reciclagem. Aqui estão os principais passos:</p>

    <h2>1. Separação</h2>
    <p>Identifique o plástico e separe-o de outros materiais. Muitos plásticos <a href="/entendendo-simbolos-de-reciclagem.html" target="_blank">possuem identificação</a> (códigos de reciclagem, como o triângulo com números) que indicam o tipo.</p>

    <h2>2. Limpeza</h2>
    <p>Lave os plásticos, removendo resíduos de alimentos ou líquidos para evitar contaminação.</p>

    <h2>3. Reciclagem</h2>
    <p>Leve os plásticos a postos de coleta seletiva ou cooperativas de reciclagem. Verifique com a prefeitura local sobre os dias e pontos de coleta.</p>

    <h2>4. Reutilização</h2>
    <p>Sempre que possível, reutilize embalagens plásticas para reduzir o volume de lixo gerado.</p>

    <h2>5. Descarte Correto</h2>
    <p>Se o plástico não for reciclável, ele deve ser descartado corretamente em aterros sanitários, evitando que acabe nos oceanos ou em espaços públicos.</p>

    <p>Dessa forma, você contribui para a redução de poluição e o impacto ambiental.</p>
</div>
{% endblock %}